:root {
  --primary-color: rgb(255, 255, 255);
  --accent-color: rgb(148, 148, 148);
}

body {
  background-color: #ddd;
  margin-top: 0px;
}

body, button {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.content {
  background-color: #fff;
  min-height: 1000px;
}

.main-content {
  margin: 20px;
}

nav {
  background-color: var(--primary-color);
  border-bottom: 15px solid #ddd;
}

nav, nav button {
  font-size: 18px;
  font-weight: 500;
}

nav ul {
  list-style: none;
  padding-inline-start: 0px;
}

nav li {
  display: inline-block;
}

nav li a, nav .dropbtn {
  padding: 12px 0px;
  margin: 0px 16px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

nav a, a:visited, a:active {
  color: inherit;
}

nav ul {
  margin: 0px;
}

nav .dropbtn {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

nav li {
  white-space: nowrap;
}

.dropdown {
  position: relative;
}

nav li:hover, .dropdown:hover, .dropdown-content li:hover {
  background-color: #eee;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
}

.dropdown-content li {
  display: block;
}
.dropdown-content li:hover {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}