.cell {
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.cell .value {
  text-align: center;
}

.cell.right-border {
  border-right: 3px solid black
}

.cell.bottom-border {
  border-bottom: 3px solid black
}

.invalid {
  background-color: red !important;
}

.candidates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 80%;
}

.candidates div {
  min-width: 33%;
  text-align: center;
  height: 33%;
}

.candidate-highlight {
  background-color: rgb(205, 243, 255);
}

.value {
  font-size: 2em;
  font-weight: bold;
}

.solver {
  color: blue;
}

.selected {
  background-color: lightblue;
}

.candidates {
  font-size: .8em;
}

.row {
  display: flex;
}