.cell {
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  position: relative;
}

.cell .value {
  text-align: center;
}

.cell.right-border {
  border-right: 3px solid black
}

.board {
  float: left;
  margin-right: 15px;
}

.cell.bottom-border {
  border-bottom: 3px solid black
}

.invalid {
  background-color: red !important;
}

.error-message {
  position: absolute;
  left: 100%;
  top: 5px;
  background-color: white;
  padding: 10px;
  width: 210px;
  min-height: 40px;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
  color: black;
}

.error-message:target {
  display: none;
}
.error-message a {
  padding-left: 5px;
}

.candidates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 80%;
}

.candidates div {
  min-width: 33%;
  text-align: center;
  height: 33%;
}

.candidates .failed-analysis {
  color: red;
}

.candidates .add-digit-analysis {
  color: blue;
  font-weight: bold;
}

.candidates .mvp {
  color: black;
  background-color: gold;
  font-weight: bold;
}

.invalid .failed-analysis {
  color: white;
}

.candidate-highlight {
  background-color: rgb(205, 243, 255);
}

.value {
  font-size: 2em;
  font-weight: bold;
}

.solver {
  color: blue;
}

.selected {
  background-color: lightblue;
}

.candidates {
  font-size: .8em;
}

.row {
  display: flex;
}